<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1>
    <a href="/simpleAttribute-thymeleaf-simple-expression">simpleAttribute-thymeleaf-simple-expression</a><br>
    <a href="/person-thymeleaf-variable-expression">person-thymeleaf-variable-expression</a><br>
    <a href="/person-thymeleaf-object-expression">person-thymeleaf-Object-expression</a><br>
    <a href="/messages-thymeleaf-message-expression">messages-thymeleaf-message-expression</a><br>
</h1>
</body>
</html>