<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <header>
        <title>Thymleaf</title>
    </header>
    <body>
        <h1 th:text="${Hi}"></h1>
        <table>
            <th>
                <tr>
                    <td>id</td>
                    <td>FirstName</td>
                    <td>LastName</td>
                    <td>Address</td>
                </tr>
            </th>
            <tbody>
                <tr>
                    <td th:text="${person.getId()}">1</td>
                    <td th:text="${person.getFirstName()}">Hoss444444444ein</td>
                    <td th:text="${person.getLastName()}">Hoss444444444ein</td>
                    <td th:text="${person.getAddress().getStreet()} + ' ' + ${person.getAddress().getZipCode()}">Jabani</td>
                    <td>Address</td>
                </tr>
            </tbody>
        </table>
    </body>
</html>